<link rel='stylesheet' href='javascripts/chartist.min.css'>
<script src='javascripts/chartist.min.js'></script>
<div class="ct-chart_temp ct-major-seventh"></div>
<script src="javascripts/moment.min.js"></script>
<script src="javascripts/jquery.min.js"></script>

<script>
// CE possible onclick event resources: 
// play with jquery to get onclick event: play in terminal of web browser (developer tools): the idea works, even if i don't know how to implement it for real yet!: 
// https://github.com/gionkunz/chartist-js/issues/571
// http://gionkunz.github.io/chartist-js/api-documentation.html#chartistevent-function-addeventhandler
// https://github.com/gionkunz/chartist-js/issues/458


// JE: axis[last].x += 20000 (add 20 seconds to last element of axis.x to see if that'll add one day to chart x-axis labels --> CE: tried this 2017-08-24 11:25: didn't twerk

	var data = {
		// A labels array that can contain any sort of values
		labels: [<%- x_label_values_to_renderer %>],
		// Our series array that contains series objects or in this case series data arrays
		series: [
			[<%= y_temp_f_to_renderer %>]
		]
	};

	var options = {
		chartPadding: 15,
		axisX: {
			offset: 40, // provides enough space for 3 lines of labels on X axis
			position: 'start', // puts labels on top of chart (not bottom, which is default)
			// the next 3 lines needed to create gaps in data for days that i don't log temperature:
			//type: Chartist.FixedScaleAxis, 
		},
		axisY: {
			// restrict the y-axis to only show values between 96.5 and 98.0, which should 
			// pertain to >80% of entered temp values and make it easier to compare mo by mo:
			high: 99.0, 
			low: 96.5, 
			// I need both 'type' and 'ticks' to define the y-axis intervals displayed. 
			// https://github.com/gionkunz/chartist-js/issues/693
			type: Chartist.FixedScaleAxis,
			ticks: [96.5, 96.6, 96.7, 96.8, 96.9, 97.0, 97.1, 97.2, 97.3, 97.4, 97.5, 97.6, 97.7, 97.8, 97.9, 98.0, 98.1, 98.2, 98.3, 98.4, 98.5, 98.6, 98.7, 98.8, 98.9, 99.0]
		}
	};	

	// Create a new line chart object where as first parameter we pass in a selector
	// that is resolving to our chart container element. The Second parameter
	// is the actual data object.
	new Chartist.Line('.ct-chart_temp', data, options);
	$(document)
.on('click', '.ct-point', function(event) {
    console.log('point was clicked ');
    console.log(event);
});
</script>
