<link rel='stylesheet' href='javascripts/chartist.min.css'>
<script src='javascripts/chartist.min.js'></script>
<div class="ct-chart_temp ct-major-seventh"></div>
<script src="javascripts/moment.min.js"></script>

<script>

	var data = {
		// A labels array that can contain any sort of values
		//labels: [<%- date_array_to_renderer %>], 
		// Our series array that contains series objects or in this case series data arrays
		series: [
			{
			//[<%= temp_array_to_renderer %>]
				data: [
					{x: new Date('2017-07-01T12:00'), y: 97.0}, 
					{x: new Date('2017-07-02T12:00'), y: 97.2}, 
					{x: new Date('2017-07-03T12:00'), y: 97.1}, 
					{x: new Date('2017-07-04T12:00'), y: 97.5}, 
					{x: new Date('2017-07-06T12:00'), y: 97.4}
				]
			}
		]
	};

	var options = {
		chartPadding: 15,
		axisX: {
			//offset: 40, // provides enough space for 3 lines of labels on X axis
			//position: 'start' // puts labels on top of chart (not bottom, which is default)
			type: Chartist.FixedScaleAxis, 
			divisor: 5, // JE take begin_date and end_date/most_recent_date and divide it by 1000/60/60/24 to convert milliseconds to whole days, which will set the divisor to the correct intiger
			labelInterpolationFnc: function(value) {
				return moment(value).format('MMM D');
			}
		},
		axisY: {
			// restrict the y-axis to only show values between 96.5 and 98.0, which should 
			// pertain to >80% of entered temp values and make it easier to compare mo by mo:
			high: 99.0, 
			low: 96.5, 
			// I need both 'type' and 'ticks' to define the y-axis intervals displayed. 
			// https://github.com/gionkunz/chartist-js/issues/693
			type: Chartist.FixedScaleAxis,
			ticks: [96.5, 96.6, 96.7, 96.8, 96.9, 97.0, 97.1, 97.2, 97.3, 97.4, 97.5, 97.6, 97.7, 97.8, 97.9, 98.0, 98.1, 98.2, 98.3, 98.4, 98.5, 98.6, 98.7, 98.8, 98.9, 99.0]
		}
	};	

	// Create a new line chart object where as first parameter we pass in a selector
	// that is resolving to our chart container element. The Second parameter
	// is the actual data object.
	new Chartist.Line('.ct-chart_temp', data, options);
</script>
