<link rel='stylesheet' href='javascripts/chartist.min.css'>
<script src='javascripts/chartist.min.js'></script>
<div class="ct-chart_time ct-double_octave"></div>

<script>

	var data = {
		// A labels array that can contain any sort of values
		labels: [<%- date_array_to_renderer %>], 
		// Our series array that contains series objects or in this case series data arrays
		series: [
			[<%- time_array_to_renderer %>]
		]
	};

	var options = {
		axisX: {
			//offset: 40 // provides enough space for 3 lines of labels on X axis
		},
		axisY: {
			// restrict the y-axis to only show values between 96.5 and 98.0, which should 
			// pertain to >80% of entered temp values and make it easier to compare mo by mo:
			high: 946722600, 
			low: 946710000, 
			// I need both 'type' and 'ticks' to define the y-axis intervals displayed. 
			// https://github.com/gionkunz/chartist-js/issues/693
			type: Chartist.FixedScaleAxis,
			//ticks: [6, 7, 8, 9, 10, 11]
		}
	};	

	// Create a new line chart object where as first parameter we pass in a selector
	// that is resolving to our chart container element. The Second parameter
	// is the actual data object.
	new Chartist.Line('.ct-chart_time', data, options);
</script>
