<% // <!-- html text after main section of html file: includes footer and closing tags --> %>

    <footer>
        <p class="text-center text-muted">© Copyright <%= (new Date()).getFullYear() %> Moon by C. Earthwell</p>
    </footer>
    
</body>
</html>

