<% // <!-- html text before main section of html file: includes head and header, among other meta-tags --> %>

<% // <!DOCTYPE html> remove this line from metadata templat file to make individual ejs pages render correctly within text editor %>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>FAM Time & Temp</title>

	<% // <!-- CSS (load bootstrap from a CDN) --> %>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		body { padding-top:50px; }

		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
		}
	</style>

</head>
<body class='container'>

	<header>
		<nav class="navbar navbar-default" role="navigation">
			 <div class="container-fluid">

				  <div class="navbar-header">
				      <a class="navbar-brand" href="#">
				          <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
				          FAM
				      </a>
				  </div>

				  <ul class="nav navbar-nav">
				      <li><a href="/">Home</a></li>
						<% // <li><a href="/form">Form</a></li> %>
				  </ul>
				
			 </div>
		</nav>

	</header>

<% // <!-- html, body closing tags found in footer template file --> %>
