<link rel='stylesheet' href='javascripts/chartist.min.css'>
<script src='javascripts/chartist.min.js'></script>
<div class="ct-chart_temp ct-major-seventh"></div>
<script src="javascripts/moment.min.js"></script>
<script src="javascripts/jquery.min.js"></script>

<script>

	var data = {
		labels: [
			'1\n23\nT\n07:30', 
			'2\n24\nW\n07:30', 
			'3\n25\nT\n07:30', 
			'4\n26\nF\n07:30', 
			'5\n27\nS\n08:30', 
			'6\n28\nS\n09:00', 
			'7\n29\nM\n07:30'
		],
		series: [
			[97.5, 98.2, 97.3, undefined, 97.6, 97.4, undefined]
		]
	};
	
	var options = {
		chartPadding: 15,
		axisX: {
			offset: 40,
			position: 'start'
			},
		axisY: {
			high: 99.0, 
			low: 96.5, 
			type: Chartist.FixedScaleAxis,
			ticks: [96.5, 96.6, 96.7, 96.8, 96.9, 97.0, 97.1, 97.2, 97.3, 97.4, 97.5, 97.6, 97.7, 97.8, 97.9, 98.0, 98.1, 98.2, 98.3, 98.4, 98.5, 98.6, 98.7, 98.8, 98.9, 99.0]
		}
	};

	new Chartist.Line('.ct-chart_temp', data, options);
</script>
