<!DOCTYPE html>
<% include ../partials/metadata_template %>

<main>
	<div class="jumbotron">
		<h1>Enter New Data</h1>
		<p> Inserting new data into cycle id number 
			<%= cycle_id_to_renderer.curr %>
		</p>
		<% // https://www.w3schools.com/html/html_forms.asp %>
		<form action='/formpost' method='post'>
			Which Cycle ID: <br>
			<input type='text' name='cycle_id' value = '<%= cycle_id_to_renderer.curr %>' placeholder='00' autofocus><br>
			Enter Date: <br>
			<input type='text' name='date' placeholder='YYYY-MM-DD'><br>
			Enter Time Taken: <br>
			<input type='text' name='time_taken' placeholder='HH:MM'><br>
			Enter Temp (F): <br>
			<input type='text' name='temp_f' placeholder='00.0'><br>
			<br>
			<input type='submit' value='Submit'>
		</form>

	</div>
</main>

<% include ../partials/footer_template %>


<% /* %>
<input type="hidden" value= "<%= row_to_renderer.id %>" name="id">
<input type='hidden' value="<%= cycle_id_to_renderer.curr %>" name='current_cycle_id'>
<% */ %>
