<!DOCTYPE html>
<% include ../partials/metadata_template %>

<main>
	<div class="jumbotron">
		<h1>Enter New Data</h1>
		<p>
			<% rows_to_renderer.forEach((row)=> { %>
				<%= row.id %>
			<% }); %>
		</p>
		<% // https://www.w3schools.com/html/html_forms.asp %>
		<form action='/form_post_update' method='post'>
			Enter Date: <br>
			<input type='text' name='date' placeholder='YYYY-MM-DD' autofocus><br>
			Enter Time Taken: <br>
			<input type='text' name='time_taken' placeholder='HH:MM'><br>
			Enter Temp (F): <br>
			<input type='text' name='temp_f' placeholder='00.0'><br>
			<br>
			<input type='submit' value='Submit'>
		</form>

	</div>
</main>

<% include ../partials/footer_template %>

