<% /* %>
<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="../../public/stylesheets/style.css">
	</head>

	<body>
<% */ %>

<% include ../partials/metadata_template %>

		<main>
			<h1>Home</h1>
			<p>ET Phone Home!</p>
		</main>

<% include ../partials/footer_template %>

<% /* %>
	</body>
</html>
<% */ %>
