<!DOCTYPE html>
<% include ../partials/metadata_template %>
<main>
	<div class="jumbotron">
	<h1>You're Logged In!</h1>
	<p>You did it!</p>
	<p>Login confirmation: <%=is_logged_in_to_renderer%></p>
	<p>Cookie Key: <%=cookie_key_to_renderer%></p>
</main>
<% include ../partials/footer_template %>
