<!DOCTYPE html>
<% include ../partials/metadata_template %>
<main>
	<div class="jumbotron">
	<h1>Login!</h1>
	<% if (is_logged_in_to_renderer == "false") { %>
		<p>Login Attempt Failed. Try Again!</p>
	<% } else { %>
		<p>Login or stay out!</p>
	<% }; %>
	<form action ='/loginpost' method='post'>
		Username: 
		<input type='text' name='username' placeholder='username' autofocus><br>
		Password: 
		<input type='text' name='password' placeholder='password'><br>
		<br>
		<input type='submit' value='Submit'>
		<input type="hidden" value="<%= is_logged_in_to_renderer %>" name="is_logged_in">
	</form>
</main>
<% include ../partials/footer_template %>


